



:root {
    --background-color: #f0f0f0
    --text-color: #333;
    --border-color: #585454;
    --toggle-circle-color: #fff;
    --toggle-background-color: #ef2727; 
    --hover-border-color: #888;
}


[data-theme='dark'] {
    --background-color: #1e1e1e;
    --text-color: #000; 
    --border-color: #555;
    --toggle-circle-color: #333;
    --toggle-background-color: #f32121; 
    --hover-border-color: #777;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
}


.theme-toggle-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px; 
    background-color: var(--toggle-background-color);
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s;
}


.toggle-circle {
    position: absolute;
    width: 22px; 
    height: 22px; 
    border-radius: 50%;
    background-color: var(--toggle-circle-color);
    transition: transform 0.3s, background-color 0.3s;
    top: 50%;
    left: 4px; 
    transform: translateY(-50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}


.theme-toggle-container:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


[data-theme='dark'] .theme-toggle-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

[data-theme='dark'] .theme-toggle-container:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.35); 
}
